In [1]:
tuple = 4,5,6

In [2]:
tuple

(4, 5, 6)

In [3]:
nested_tuple=(4,5,6),(7,8)

In [4]:
nested_tuple

((4, 5, 6), (7, 8))

In [14]:
tuple?

In [15]:
tup=tuple

In [16]:
tup

(4, 5, 6)

In [18]:
tup=('foo',[0,1,2],True)

In [19]:
tup

('foo', [0, 1, 2], True)

In [20]:
tup[2]

True

In [21]:
tup[1]

[0, 1, 2]

In [24]:
tup[1]*3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [25]:
tup[1]

[0, 1, 2]

In [26]:
tup[1]**tup[1]

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'list'

In [27]:
tup[1]*tup[1]

TypeError: can't multiply sequence by non-int of type 'list'

In [28]:
tup[1].append(3)

In [29]:
tup

('foo', [0, 1, 2, 3], True)

In [37]:
tup[1]:3

In [31]:
tup[1]

[0, 1, 2, 3]

In [32]:
tup[1]

[0, 1, 2, 3]

In [38]:
tup

('foo', [0, 1, 2, 3], True)

In [44]:
len(tup)

3

In [47]:
idx=0

In [74]:
for i in tup:
    if(i is not None):
        if(type(i) is str):
            print(i+'\n')
        if(type(i) is list):
            for j in i:
                print('Nested list include :\n' + str(j))

foo

Nested list include :
0
Nested list include :
1
Nested list include :
2
Nested list include :
3

In [75]:
idx

0

In [76]:
i

True

In [77]:
tup

('foo', [0, 1, 2, 3], True)

In [81]:
tup2='foo',[1,3],'end',False

In [83]:
tup[1][1]

1

In [84]:
tup[1]

[0, 1, 2, 3]

In [85]:
tup[0][2]

'o'