In [ ]:
#Wo Kao, pyforest is cool!!!

In [1]:
s = pd.Series(['a','b','c','d']*2)

In [2]:
cat_s = s.astype('category')

In [3]:
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [4]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [5]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
actual_categories = ['a','b','c','d','e']

In [7]:
cat_s2 = cat_s.cat.set_categories(actual_categories)

In [8]:
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

In [9]:
cat_s.value_counts()

d    2
c    2
b    2
a    2
dtype: int64

In [10]:
cat_s2.value_counts()

d    2
c    2
b    2
a    2
e    0
dtype: int64

In [11]:
cat_s3 = cat_s[cat_s.isin(['a','b'])]

In [12]:
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]

In [13]:
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): [a, b]

In [14]:
cat_s4 = pd.Series(['a','b','c','d'] * 2, dtype='category')

In [16]:
pd.get_dummies(cat_s4)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1