In [3]:
import pandas as pd
import numpy as np

In [4]:
frame=pd.DataFrame({'a':np.random.randn(100)})

In [5]:
store=pd.HDFStore('mydata.h5')

In [6]:
store['obj1']=frame

In [7]:
store['obj1_col']=frame['a']

In [8]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [9]:
store['obj1']

           a
0   2.009361
1  -1.485090
2  -0.108756
3   1.870698
4  -0.727127
..       ...
95 -0.853429
96  2.473422
97  0.451546
98  1.123990
99  0.840276

[100 rows x 1 columns]

In [10]:
store.put('obj2',frame,format='table')

In [11]:
store.select('obj2', where=['index>=10 and index<=15'])

           a
10  0.686425
11  0.782904
12  0.063740
13 -0.061762
14 -2.590847
15 -1.592416

In [12]:
store.close()

In [13]:
frame.to_hdf('mydata.h5','obj3',format='table')

In [14]:
pd.read_hdf('mydata.h5','obj3',where=['index<5'])

          a
0  2.009361
1 -1.485090
2 -0.108756
3  1.870698
4 -0.727127