In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('ex1.csv')

In [4]:
df

   a   b   c   d Message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
df2=pd.read_table('ex1.csv', sep=',')

In [8]:
df2

   a   b   c   d Message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [14]:
pd.read_csv('ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
names=['a','b','c','d','message']

In [16]:
pd.read_csv('ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [28]:
parsed=pd.read_csv('csv_mindex.csv', index_col=['key1','key2'])

In [29]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [31]:
list(open('ex3.txt'))

['\t   A         B         C \n',
 'aaa -0.264438 -1.026059 -0.619500 \n',
 'bbb  0.927272  0.302904 -0.032399 \n',
 'ccc -0.264273 -0.386314 -0.217601 \n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [32]:
result=pd.read_table('ex3.txt', sep='\s+')

In [33]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [3]:
pd.read_csv('ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_csv('ex4.csv')

                                                                       # hey!
a                                                  b         c   d    message
# just wanted to make things more difficult for... NaN       NaN NaN       NaN
# who reads CSV files with computers                anyway?  NaN NaN       NaN
1                                                  2         3   4      hello
5                                                  6         7   8      world
9                                                  10        11  12       foo

In [5]:
result=pd.read_csv('ex5.csv')

In [6]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [7]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [8]:
result2=pd.read_csv('ex5.csv', na_values=['NULL'])

In [9]:
result2

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [10]:
sentinels={'message':['foo','NA'], 'something':['two']}

In [11]:
pd.read_csv('ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN