In [1]:
import pandas as pd

In [3]:
xlsx=pd.ExcelFile('ex1.xlsx')

In [4]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [5]:
frame=pd.read_excel('ex1.xlsx','Sheet1')

In [6]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [7]:
writer=pd.ExcelWriter('ex2.xlsx')

In [8]:
frame.to_excel(writer,'Sheet2')

In [9]:
writer.save()

In [ ]:
#frame.to_excel('ex2.xlsx')