In [4]:
from datetime import datetime
import pandas as pd
import numpy as np

In [5]:
dates=[datetime(2011, 1, 2), datetime(2011, 1, 5),
      datetime(2011, 1, 7), datetime(2011, 1, 8),
      datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [6]:
ts=pd.Series(np.random.randn(6), index=dates)

In [7]:
ts

2011-01-02    1.299157
2011-01-05    0.690055
2011-01-07   -0.855850
2011-01-08   -0.087426
2011-01-10    0.249655
2011-01-12    0.387860
dtype: float64

In [30]:
resampler = ts.resample('M')

In [31]:
resampler.mean()

2011-01-31    0.280575
Freq: M, dtype: float64

In [33]:
ts.resample('W').mean()

2011-01-02    1.299157
2011-01-09   -0.084407
2011-01-16    0.318758
Freq: W-SUN, dtype: float64

In [34]:
index=pd.date_range('2012-04-01','2012-06-01')

In [35]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [36]:
index2=pd.date_range('2012-04-01','2012-06-01', freq='W-Mon')

In [37]:
index2

DatetimeIndex(['2012-04-02', '2012-04-09', '2012-04-16', '2012-04-23',
               '2012-04-30', '2012-05-07', '2012-05-14', '2012-05-21',
               '2012-05-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [38]:
pd.date_range(start='2012-04-01', periods=20, freq='W-Mon')

DatetimeIndex(['2012-04-02', '2012-04-09', '2012-04-16', '2012-04-23',
               '2012-04-30', '2012-05-07', '2012-05-14', '2012-05-21',
               '2012-05-28', '2012-06-04', '2012-06-11', '2012-06-18',
               '2012-06-25', '2012-07-02', '2012-07-09', '2012-07-16',
               '2012-07-23', '2012-07-30', '2012-08-06', '2012-08-13'],
              dtype='datetime64[ns]', freq='W-MON')

In [40]:
pd.date_range(end='2012-08-15', periods=20, freq='W-Mon')

DatetimeIndex(['2012-04-02', '2012-04-09', '2012-04-16', '2012-04-23',
               '2012-04-30', '2012-05-07', '2012-05-14', '2012-05-21',
               '2012-05-28', '2012-06-04', '2012-06-11', '2012-06-18',
               '2012-06-25', '2012-07-02', '2012-07-09', '2012-07-16',
               '2012-07-23', '2012-07-30', '2012-08-06', '2012-08-13'],
              dtype='datetime64[ns]', freq='W-MON')

In [41]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [42]:
pd.date_range('2020-01-01', '2020-12-01', freq='BMS')

DatetimeIndex(['2020-01-01', '2020-02-03', '2020-03-02', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-03',
               '2020-09-01', '2020-10-01', '2020-11-02', '2020-12-01'],
              dtype='datetime64[ns]', freq='BMS')

In [45]:
pd.date_range(datetime.now(), periods=5)

DatetimeIndex(['2020-01-07 15:55:23.882879', '2020-01-08 15:55:23.882879',
               '2020-01-09 15:55:23.882879', '2020-01-10 15:55:23.882879',
               '2020-01-11 15:55:23.882879'],
              dtype='datetime64[ns]', freq='D')

In [46]:
pd.date_range(datetime.now(), periods=5, normalize=True)

DatetimeIndex(['2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-11'],
              dtype='datetime64[ns]', freq='D')

In [47]:
from pandas.tseries.offsets import Hour, Minute

In [48]:
hour=Hour()

In [49]:
hour

In [50]:
four_hours=Hour(4)

In [51]:
four_hours

In [52]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [54]:
Hour(2)+Minute(30)

In [55]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [56]:
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')

In [57]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [58]:
pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')