In [1]:
import pandas as pd
import numpy as np

In [4]:
rng=pd.date_range('2000-01-01', periods=100, freq='D')

In [5]:
ts=pd.Series(np.random.randn(len(rng)), index=rng)

In [6]:
ts

2000-01-01   -0.750230
2000-01-02    0.446538
2000-01-03    1.655263
2000-01-04    0.230214
2000-01-05   -1.961826
                ...
2000-04-05   -0.608649
2000-04-06    0.784141
2000-04-07   -0.984663
2000-04-08   -1.661548
2000-04-09   -1.734974
Freq: D, Length: 100, dtype: float64

In [7]:
ts.resample('M').mean()

2000-01-31    0.290886
2000-02-29   -0.043916
2000-03-31    0.229412
2000-04-30   -0.371768
Freq: M, dtype: float64

In [8]:
ts.resample('M', kind='period').mean()

2000-01    0.290886
2000-02   -0.043916
2000-03    0.229412
2000-04   -0.371768
Freq: M, dtype: float64

In [11]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')

In [12]:
ts = pd.Series(np.arange(12), index=rng)

In [13]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [14]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [16]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32