In [2]:
import pandas as pd
import numpy as np

In [4]:
ts=pd.Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [5]:
ts

2000-01-31   -0.271771
2000-02-29    1.703281
2000-03-31    1.774472
2000-04-30   -0.004365
Freq: M, dtype: float64

In [6]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.271771
2000-04-30    1.703281
Freq: M, dtype: float64

In [7]:
ts.shift(-2)

2000-01-31    1.774472
2000-02-29   -0.004365
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [8]:
ts/ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -7.267340
2000-03-31    0.041797
2000-04-30   -1.002460
Freq: M, dtype: float64

In [9]:
ts.shift(2,freq='M')

2000-03-31   -0.271771
2000-04-30    1.703281
2000-05-31    1.774472
2000-06-30   -0.004365
Freq: M, dtype: float64

In [10]:
ts.shift(3, freq='D')

2000-02-03   -0.271771
2000-03-03    1.703281
2000-04-03    1.774472
2000-05-03   -0.004365
dtype: float64

In [11]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -0.271771
2000-02-29 01:30:00    1.703281
2000-03-31 01:30:00    1.774472
2000-04-30 01:30:00   -0.004365
Freq: M, dtype: float64

In [14]:
from pandas.tseries.offsets import Day, MonthEnd
from datetime import datetime

In [30]:
now=datetime.now()

In [31]:
now

datetime.datetime(2020, 1, 8, 10, 43, 43, 8906)

In [32]:
now+3*Day()

Timestamp('2020-01-11 10:43:43.008906')

In [35]:
now+MonthEnd()

Timestamp('2020-01-31 10:43:43.008906')

In [36]:
datetime.now()+MonthEnd(2)

Timestamp('2020-02-29 10:44:04.061121')

In [37]:
offset=MonthEnd()

In [38]:
offset.rollforward(now)

Timestamp('2020-01-31 10:43:43.008906')

In [39]:
offset.rollback(now)

Timestamp('2019-12-31 10:43:43.008906')

In [40]:
ts=pd.Series(np.random.randn(20),
            index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [41]:
ts

2000-01-15   -0.090801
2000-01-19    0.800190
2000-01-23   -0.195139
2000-01-27    1.968263
2000-01-31    0.892752
2000-02-04   -1.533633
2000-02-08   -0.043969
2000-02-12    1.000006
2000-02-16    0.248694
2000-02-20    3.543706
2000-02-24    0.573267
2000-02-28    0.015367
2000-03-03    2.512042
2000-03-07    0.898398
2000-03-11    0.812505
2000-03-15    0.837832
2000-03-19   -0.074459
2000-03-23   -0.358911
2000-03-27   -1.478603
2000-03-31   -0.110238
Freq: 4D, dtype: float64

In [42]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.675053
2000-02-29    0.543348
2000-03-31    0.379821
dtype: float64

In [43]:
ts.resample('M').mean()

2000-01-31    0.675053
2000-02-29    0.543348
2000-03-31    0.379821
Freq: M, dtype: float64