In [2]:
from datetime import datetime

In [3]:
dates=[datetime(2011, 1, 2), datetime(2011, 1, 5),
      datetime(2011, 1, 7), datetime(2011, 1, 8),
      datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [5]:
import pandas as pd
import numpy as np

In [6]:
ts=pd.Series(np.random.randn(6), index=dates)

In [7]:
ts

2011-01-02   -0.434001
2011-01-05   -0.953906
2011-01-07    0.517452
2011-01-08    0.707736
2011-01-10   -1.007212
2011-01-12    0.552384
dtype: float64

In [8]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [9]:
ts + ts[::2]

2011-01-02   -0.868003
2011-01-05         NaN
2011-01-07    1.034905
2011-01-08         NaN
2011-01-10   -2.014423
2011-01-12         NaN
dtype: float64

In [10]:
ts[::2]

2011-01-02   -0.434001
2011-01-07    0.517452
2011-01-10   -1.007212
dtype: float64

In [11]:
ts.index.dtype

dtype('<M8[ns]')

In [12]:
stamp = ts.index[0]

In [13]:
stamp

Timestamp('2011-01-02 00:00:00')

In [14]:
stamp = ts.index[2]

In [15]:
ts[stamp]

0.5174522790069063

In [16]:
ts['1/10/2011']

-1.007211546111057

In [17]:
ts['20110110']

-1.007211546111057

In [18]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000', periods=1000))

In [19]:
longer_ts

2000-01-01    0.108232
2000-01-02   -0.359739
2000-01-03    0.465568
2000-01-04   -1.205317
2000-01-05   -0.400423
                ...
2002-09-22    0.418447
2002-09-23    0.046918
2002-09-24   -0.190896
2002-09-25    0.123961
2002-09-26   -0.342929
Freq: D, Length: 1000, dtype: float64

In [20]:
longer_ts['2001']

2001-01-01    0.489540
2001-01-02    0.609389
2001-01-03   -0.098189
2001-01-04    0.908296
2001-01-05   -0.660235
                ...
2001-12-27    0.823726
2001-12-28   -0.508765
2001-12-29    0.403752
2001-12-30    0.863746
2001-12-31   -0.188312
Freq: D, Length: 365, dtype: float64

In [21]:
longer_ts['2001-05']

2001-05-01    0.423173
2001-05-02   -0.996828
2001-05-03    1.031605
2001-05-04    0.541111
2001-05-05    0.004784
2001-05-06   -1.461940
2001-05-07    0.987306
2001-05-08    0.987730
2001-05-09   -0.255684
2001-05-10   -0.102109
2001-05-11   -1.148867
2001-05-12   -1.679849
2001-05-13   -0.417266
2001-05-14   -1.180676
2001-05-15    0.110592
2001-05-16   -0.779068
2001-05-17    0.425085
2001-05-18   -1.799464
2001-05-19   -1.585296
2001-05-20   -0.134975
2001-05-21    0.879506
2001-05-22   -0.565358
2001-05-23    0.366629
2001-05-24   -1.235899
2001-05-25    1.670464
2001-05-26    1.739629
2001-05-27   -0.239574
2001-05-28   -2.324476
2001-05-29    0.647984
2001-05-30    0.378567
2001-05-31    1.101480
Freq: D, dtype: float64

In [22]:
longer_ts['2000']

2000-01-01    0.108232
2000-01-02   -0.359739
2000-01-03    0.465568
2000-01-04   -1.205317
2000-01-05   -0.400423
                ...
2000-12-27    1.215411
2000-12-28    1.061101
2000-12-29    0.227727
2000-12-30    0.405754
2000-12-31   -1.519098
Freq: D, Length: 366, dtype: float64

In [24]:
longer_ts['2000-02']

2000-02-01    0.055551
2000-02-02   -1.788413
2000-02-03    0.541574
2000-02-04   -2.058641
2000-02-05    0.237538
2000-02-06   -1.875571
2000-02-07    0.279663
2000-02-08   -0.654421
2000-02-09    0.801695
2000-02-10    1.274785
2000-02-11   -0.292584
2000-02-12    0.369122
2000-02-13    1.813182
2000-02-14    0.406508
2000-02-15    0.435767
2000-02-16   -0.778441
2000-02-17    1.296681
2000-02-18   -1.755953
2000-02-19    1.397658
2000-02-20   -0.826153
2000-02-21   -2.151660
2000-02-22   -0.592193
2000-02-23    0.485956
2000-02-24    0.761671
2000-02-25   -0.840106
2000-02-26    0.584287
2000-02-27    0.320314
2000-02-28    1.402306
2000-02-29   -0.508019
Freq: D, dtype: float64

In [26]:
ts[datetime(2011,1,7):]

2011-01-07    0.517452
2011-01-08    0.707736
2011-01-10   -1.007212
2011-01-12    0.552384
dtype: float64

In [27]:
ts

2011-01-02   -0.434001
2011-01-05   -0.953906
2011-01-07    0.517452
2011-01-08    0.707736
2011-01-10   -1.007212
2011-01-12    0.552384
dtype: float64

In [30]:
ts['1/5/2011':'1/10/2011']

2011-01-05   -0.953906
2011-01-07    0.517452
2011-01-08    0.707736
2011-01-10   -1.007212
dtype: float64

In [29]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.434001
2011-01-05   -0.953906
2011-01-07    0.517452
2011-01-08    0.707736
dtype: float64

In [31]:
dates=pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [32]:
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=dates,
                    columns=['Colorado','Texas','New York','Ohio'])

In [33]:
long_df.loc['2001-05']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.044161  2.306115 -1.882850  0.140132
2001-05-09 -1.367360 -1.144771  1.184599 -2.249279
2001-05-16  1.594773 -0.798743  1.214341 -0.509327
2001-05-23 -1.543785 -0.262578  1.122920 -1.310056
2001-05-30  2.158885 -0.563091  0.865807  0.219057

In [42]:
long_df[::]

            Colorado     Texas  New York      Ohio
2000-01-05  1.559704  0.562056  0.371775  0.734310
2000-01-12 -0.518250 -0.178019 -2.133013 -1.706914
2000-01-19 -0.336399 -1.134466  0.698209 -1.199652
2000-01-26  1.594987  1.424979  0.158458  2.087386
2000-02-02 -0.443885  0.894293  1.046275  1.398380
...              ...       ...       ...       ...
2001-10-31  0.575012  0.674199  2.344637 -1.544323
2001-11-07  0.240569 -0.638984  0.216096 -0.245370
2001-11-14  0.623536 -0.762130  0.269331 -1.230475
2001-11-21 -0.685114 -0.404271  0.359152 -0.152544
2001-11-28 -0.267169 -1.469373  1.512320 -0.395678

[100 rows x 4 columns]

In [43]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                         '1/2/2000','1/3/2000'])

In [44]:
dup_ts=pd.Series(np.arange(5), index=dates)

In [45]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [46]:
dup_ts.index.is_unique

False

In [47]:
dup_ts['1/3/2000']

4

In [48]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [64]:
grouped=dup_ts.groupby(level=0)

In [65]:
grouped.apply(lambda x: x.index.is_unique)

2000-01-01     True
2000-01-02    False
2000-01-03     True
dtype: bool

In [66]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [67]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64