In [2]:
import pandas as pd
import numpy as np

In [5]:
%run 20200106_groupby_1.ipynb

a
  key1 key2     data1     data2
0    a  one -0.231311 -1.499275
1    a  two  0.914251  1.358881
4    a  one -1.607825 -1.516695
b
  key1 key2     data1     data2
2    b  one  0.512124  0.897123
3    b  two  1.262315  0.675659
('a', 'one')
  key1 key2     data1     data2
0    a  one -0.231311 -1.499275
4    a  one -1.607825 -1.516695
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.914251  1.358881
('b', 'one')
  key1 key2     data1     data2
2    b  one  0.512124  0.897123
('b', 'two')
  key1 key2     data1     data2
3    b  two  1.262315  0.675659
float64
      data1     data2
0 -0.231311 -1.499275
1  0.914251  1.358881
2  0.512124  0.897123
3  1.262315  0.675659
4 -1.607825 -1.516695
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

In [6]:
df

  key1 key2     data1     data2
0    a  one -0.231311 -1.499275
1    a  two  0.914251  1.358881
2    b  one  0.512124  0.897123
3    b  two  1.262315  0.675659
4    a  one -1.607825 -1.516695

In [7]:
grouped=df.groupby('key1')

In [8]:
grouped['data1'].quantile(0.9)

key1
a    0.685138
b    1.187296
Name: data1, dtype: float64

In [9]:
def peak_to_floor(arr):
    return arr.max()-arr.min()

In [10]:
grouped.agg(peak_to_floor)

         data1     data2
key1
a     2.522076  2.875576
b     0.750191  0.221464

In [11]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0 -0.308295  1.262799 -1.607825 -0.919568 -0.231311  0.341470
b      2.0  0.887219  0.530465  0.512124  0.699672  0.887219  1.074767

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     0.914251   3.0 -0.552363  1.655209 -1.516695 -1.507985 -1.499275
b     1.262315   2.0  0.786391  0.156599  0.675659  0.731025  0.786391


           75%       max
key1
a    -0.070197  1.358881
b     0.841757  0.897123