In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.array([[5, 5, 3, 3, 4], [3, 4, 5, 5, 4],
                 [3, 4, 3, 4, 5], [5, 5, 3, 4, 4]])

In [3]:
df = pd.DataFrame(data, columns=['The Shawshank Redemption',
                                 'Forrest Gump', 'Avengers: Endgame',
                                 'Iron Man', 'Titanic '],
                  index=['user1', 'user2', 'user3', 'user4'])

In [14]:
df[:]

,The Shawshank Redemption,Forrest Gump,Avengers: Endgame,Iron Man,Titanic
user1,5,5,3,3,4
user2,3,4,5,5,4
user3,3,4,3,4,5
user4,5,5,3,4,4

In [4]:
# Compute correlation between user1 and other users
user_to_compare = df.iloc[0]

In [5]:
similarity_with_other_users = df.corrwith(user_to_compare, axis=1,
                                          method='pearson')

In [6]:
similarity_with_other_users = similarity_with_other_users.sort_values(ascending=False)

In [12]:
similarity_with_other_users

user1    1.000000
user4    0.896421
user3    0.000000
user2   -0.896421
dtype: float64

In [7]:
# Compute correlation between 'The Shawshank Redemption' and other movies
movie_to_compare = df['The Shawshank Redemption']

In [8]:
similarity_with_other_movies = df.corrwith(movie_to_compare, axis=0)

In [9]:
similarity_with_other_movies = similarity_with_other_movies.sort_values(
    ascending=False)

In [11]:
similarity_with_other_movies

Forrest Gump                1.000000
The Shawshank Redemption    1.000000
Titanic                    -0.577350
Avengers: Endgame          -0.577350
Iron Man                   -0.707107
dtype: float64