In [2]:
import pandas as pd
import numpy as np

In [23]:
df=pd.DataFrame({'category':['a','a','a','a','a']*100000+
                            ['b','b','b','b','b']*100000,
                'data':np.random.randn(1000000),
                'weights':np.random.randn(1000000)})

In [24]:
df

       category      data   weights
0             a -1.557892 -0.107295
1             a  0.905919  0.963574
2             a  0.411459  0.346702
3             a  1.003929  1.088181
4             a  0.901885  0.011107
...         ...       ...       ...
999995        b -1.708028  2.081357
999996        b -1.471003  0.301770
999997        b  0.535699  0.270068
999998        b  0.436851 -0.473141
999999        b  0.137445  0.462916

[1000000 rows x 3 columns]

In [25]:
grouped=df.groupby('category')

In [26]:
get_wavg=lambda g: np.average(g['data'], weights=g['weights'])

In [27]:
grouped.apply(get_wavg)

category
a   -6.819245
b   -0.151907
dtype: float64

In [28]:
#227 ms ± 12.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
#numpy+pandas真的很快呀
%timeit grouped.apply(get_wavg)

227 ms ± 12.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)