In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series(np.random.randn(6))

In [3]:
s[::2]=np.nan

In [4]:
s

0         NaN
1    0.296533
2         NaN
3    0.363278
4         NaN
5    0.562402
dtype: float64

In [5]:
s.fillna(s.mean())

0    0.407404
1    0.296533
2    0.407404
3    0.363278
4    0.407404
5    0.562402
dtype: float64

In [6]:
states=['Ohio','New York','Vermont','Florida',
       'Oregon','Nevada','California','Idaho']

In [7]:
group_key=['East']*4+['West']*4

In [8]:
data=pd.Series(np.random.randn(8), index=states)

In [9]:
data

Ohio         -0.129482
New York     -0.138671
Vermont      -2.515453
Florida      -0.890627
Oregon        2.030751
Nevada        0.562568
California    0.355945
Idaho        -0.777840
dtype: float64

In [10]:
data[['Vermont','Nevada','Idaho']]=np.nan

In [11]:
data

Ohio         -0.129482
New York     -0.138671
Vermont            NaN
Florida      -0.890627
Oregon        2.030751
Nevada             NaN
California    0.355945
Idaho              NaN
dtype: float64

In [13]:
data.groupby(group_key)

In [19]:
data[:10]

Ohio         -0.129482
New York     -0.138671
Vermont            NaN
Florida      -0.890627
Oregon        2.030751
Nevada             NaN
California    0.355945
Idaho              NaN
dtype: float64

In [20]:
data.groupby(group_key).mean()

East   -0.386260
West    1.193348
dtype: float64

In [21]:
fill_mean=lambda g:g.fillna(g.mean())

In [22]:
data.groupby(group_key).apply(fill_mean)

Ohio         -0.129482
New York     -0.138671
Vermont      -0.386260
Florida      -0.890627
Oregon        2.030751
Nevada        1.193348
California    0.355945
Idaho         1.193348
dtype: float64

In [24]:
fill_values={'East':0.5, 'West':-1}

In [25]:
fill_func=lambda g:g.fillna(fill_values[g.name])

In [ ]:
data.groupby(group_key).apply(fill_func)