In [1]:
import pandas as pd
import numpy as np

In [2]:
frame=pd.DataFrame({'data1':np.random.randn(1000),
                   'data2':np.random.randn(1000)})

In [3]:
frame

        data1     data2
0   -0.517636 -0.269730
1   -0.619473 -1.295312
2   -0.143807 -1.015955
3    0.492250  1.285384
4   -0.415392 -0.229035
..        ...       ...
995  0.195243  1.123735
996 -0.041805 -1.832802
997  0.019459  0.244166
998  1.865066  1.024138
999 -0.128186 -1.089988

[1000 rows x 2 columns]

In [4]:
quartiles=pd.cut(frame.data1, 4)

In [5]:
quartiles[:10]

0    (-1.432, 0.368]
1    (-1.432, 0.368]
2    (-1.432, 0.368]
3     (0.368, 2.168]
4    (-1.432, 0.368]
5    (-1.432, 0.368]
6     (0.368, 2.168]
7     (0.368, 2.168]
8     (0.368, 2.168]
9    (-1.432, 0.368]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.24, -1.432] < (-1.432, 0.368] < (0.368, 2.168] < (2.168, 3.968]]

In [6]:
def get_stats(group):
    return {'min':group.min(),
           'max':group.max(),
           'count':group.count(),
           'mean':group.mean()}

In [7]:
grouped=frame.data2.groupby(quartiles)

In [9]:
grouped.apply(get_stats)

data1
(-3.24, -1.432]  min       -1.972092
                 max        1.659724
                 count     58.000000
                 mean       0.080622
(-1.432, 0.368]  min       -2.413447
                 max        2.952040
                 count    584.000000
                 mean       0.058980
(0.368, 2.168]   min       -3.330861
                 max        2.344333
                 count    348.000000
                 mean       0.006173
(2.168, 3.968]   min       -1.153926
                 max        1.273498
                 count     10.000000
                 mean      -0.114288
Name: data2, dtype: float64

In [14]:
grouped.apply(get_stats).unstack()

                      min       max  count      mean
data1
(-3.24, -1.432] -1.972092  1.659724   58.0  0.080622
(-1.432, 0.368] -2.413447  2.952040  584.0  0.058980
(0.368, 2.168]  -3.330861  2.344333  348.0  0.006173
(2.168, 3.968]  -1.153926  1.273498   10.0 -0.114288

In [17]:
grouped.apply(get_stats).unstack('data1')

data1  (-3.24, -1.432]  (-1.432, 0.368]  (0.368, 2.168]  (2.168, 3.968]
min          -1.972092        -2.413447       -3.330861       -1.153926
max           1.659724         2.952040        2.344333        1.273498
count        58.000000       584.000000      348.000000       10.000000
mean          0.080622         0.058980        0.006173       -0.114288

In [24]:
grouping=pd.qcut(frame.data1, 10, labels=False)

In [25]:
grouped2=frame.data2.groupby(grouping)

In [26]:
grouped2.apply(get_stats)

data1
0      min       -2.406638
       max        2.914522
       count    100.000000
       mean      -0.025572
1      min       -2.335382
       max        2.421262
       count    100.000000
       mean      -0.007021
2      min       -2.313289
       max        2.508680
       count    100.000000
       mean       0.022489
3      min       -2.107002
       max        2.384293
       count    100.000000
       mean       0.147995
4      min       -2.413447
       max        2.681889
       count    100.000000
       mean       0.065176
5      min       -2.114724
       max        2.952040
       count    100.000000
       mean       0.253246
6      min       -3.330861
       max        2.113985
       count    100.000000
       mean      -0.134026
7      min       -2.437158
       max        2.141315
       count    100.000000
       mean      -0.029098
8      min       -1.959152
       max        2.344333
       count    100.000000
       mean       0.094881
9      min       -1.841548
       max        2.306075
       count    100.000000
       mean       0.013189
Name: data2, dtype: float64

In [27]:
grouped2.apply(get_stats).unstack()

            min       max  count      mean
data1
0     -2.406638  2.914522  100.0 -0.025572
1     -2.335382  2.421262  100.0 -0.007021
2     -2.313289  2.508680  100.0  0.022489
3     -2.107002  2.384293  100.0  0.147995
4     -2.413447  2.681889  100.0  0.065176
5     -2.114724  2.952040  100.0  0.253246
6     -3.330861  2.113985  100.0 -0.134026
7     -2.437158  2.141315  100.0 -0.029098
8     -1.959152  2.344333  100.0  0.094881
9     -1.841548  2.306075  100.0  0.013189