In [6]:
import pandas_datareader.data as web
import pandas as pd

In [7]:
all_data={ticker: web.get_data_yahoo(ticker)
         for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [8]:
price=pd.DataFrame({ticker: data['Adj Close']
                   for ticker, data in all_data.items()})

In [9]:
volume=pd.DataFrame({ticker: data['Volume']
                    for ticker,data in all_data.items()})

In [10]:
returns = price.pct_change()

In [12]:
returns.tail(10)

                AAPL       IBM      MSFT      GOOG
Date
2019-12-11  0.008529 -0.001120  0.003772  0.000268
2019-12-12  0.002548  0.011663  0.010152  0.003903
2019-12-13  0.013593 -0.008203  0.008418 -0.001807
2019-12-16  0.017118 -0.000596  0.006471  0.009897
2019-12-17  0.001965  0.000671 -0.005401 -0.004445
2019-12-18 -0.002389  0.001416 -0.002069 -0.001845
2019-12-19  0.001001  0.001116  0.008681  0.002528
2019-12-20 -0.002071  0.007655  0.010918 -0.004757
2019-12-23  0.016318 -0.000295  0.000000 -0.000556
2019-12-24  0.000951 -0.004205 -0.000191 -0.003914

In [13]:
returns.MSFT.corr(returns.IBM)

0.4850388021526413

In [19]:
len(returns['MSFT'])

1258

In [20]:
len(returns.MSFT)

1258

In [23]:
returns.MSFT.cov(returns.IBM)

9.22920985079129e-05

In [24]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.399309  0.573908  0.521603
IBM   0.399309  1.000000  0.485039  0.410389
MSFT  0.573908  0.485039  1.000000  0.659059
GOOG  0.521603  0.410389  0.659059  1.000000

In [25]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000245  0.000081  0.000132  0.000123
IBM   0.000081  0.000168  0.000092  0.000080
MSFT  0.000132  0.000092  0.000216  0.000146
GOOG  0.000123  0.000080  0.000146  0.000229

In [26]:
returns.corrwith(returns.IBM)

AAPL    0.399309
IBM     1.000000
MSFT    0.485039
GOOG    0.410389
dtype: float64