In [1]:
import pandas as pd

In [2]:
obj=pd.Series(['c','a','d','a','a','b','b','c','c'])

In [3]:
uniques=obj.unique()

In [4]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [5]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [6]:
pd.value_counts(obj.values, sort=False)

a    3
b    2
c    3
d    1
dtype: int64

In [7]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [8]:
mask=obj.isin(['b','c'])

In [9]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [10]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [27]:
to_match=pd.Series(['c','a','b','c','a'])
to_match

0    c
1    a
2    b
3    c
4    a
dtype: object

In [23]:
unique_vals2=to_match.unique()
unique_vals2

array(['c', 'a', 'b'], dtype=object)

In [28]:
pd.Index(unique_vals2).get_indexer(to_match)

array([0, 1, 2, 0, 1], dtype=int64)

In [29]:
unique_vals1=pd.Series(['c','b','a'])
unique_vals1

0    c
1    b
2    a
dtype: object

In [30]:
pd.Index(unique_vals1).get_indexer(to_match)

array([0, 2, 1, 0, 2], dtype=int64)

In [31]:
data=pd.DataFrame({'Qu1':[1,3,4,3,4],
                  'Qu2':[2,3,1,2,3],
                  'Qu3':[1,5,2,4,4]})

In [32]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [33]:
result=data.apply(pd.value_counts).fillna(0)

In [34]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0