In [1]:
import numpy as np
import pandas as pd

In [2]:
frame=pd.DataFrame(np.random.randn(4,3), columns=list('bde'),
                  index=['Utah','Ohio','Texas','Oregon'])

In [3]:
frame

               b         d         e
Utah   -0.498871  0.413072 -1.307081
Ohio   -2.402938 -0.217513  1.312282
Texas  -0.860221  0.339102  0.441893
Oregon  0.760911  0.584494 -0.406081

In [4]:
np.abs(frame)

               b         d         e
Utah    0.498871  0.413072  1.307081
Ohio    2.402938  0.217513  1.312282
Texas   0.860221  0.339102  0.441893
Oregon  0.760911  0.584494  0.406081

In [5]:
f=lambda x: x.max()-x.min()

In [6]:
frame.apply(f)

b    3.163849
d    0.802007
e    2.619363
dtype: float64

In [7]:
frame.apply(f, axis='columns')

Utah      1.720153
Ohio      3.715220
Texas     1.302113
Oregon    1.166991
dtype: float64

In [ ]:
def f(x):
    return pd.Series([x.min(),x.max()],index=['min'])